* {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  box-sizing: content-box;
}
body {
  background: black;
  color: wheat;
}
.search-form {
  display: block;
  margin: 20px;
}
.gallery {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img-card {
  padding: 10px;
  min-height: 250px;
}
.img-card .stats {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-card .stats-item {
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.img-card .material-icons {
  margin-right: 5px;
}
.next-page-btn {
  display: block;
  margin: 10px auto 60px;
}
.is-hidden {
  display: none;
}
