* {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  box-sizing: content-box;
}
body {
  background: black;
  color: wheat;
}
.gallery {
  margin: 20px auto;
}
.img-card {
  padding: 10px;
  max-width: 350px;
}
.img-card .stats {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-card .stats-item {
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.img-card .material-icons {
  margin-right: 5px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.next-page-btn {
  display: block;
  margin: 0 auto;
}
.is-hidden {
  display: none;
}
